@font-face {
    font-family: 'garlicha';
    src: url('../../../public/font/garlicha/Garlicha.ttf');
}
.borda-btn {

    border: none;
    border-bottom: 1px solid black;

}

.font-garlicha {
    font-family: garlicha;
}

.border-footer {
    border-color: black;
}

.container-menu {
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: -2;
}
.menu-hiden {
    display: flex;
    justify-content: end;
    z-index: -1;
    margin-right: -200px;
}

.menu-show {
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
    animation: show-menu 0.5s ease-out;
    position: absolute;
}

@keyframes show-menu {
    0%{
        margin-right: -200px;
    }
    100%{
        margin-right: 0px;
    }
}

.list-menu {
    list-style: none;
}
.borda-input-menu {
    border: none;
}
