@font-face {
    font-family: 'garlicha';
    src: url('../../../public/font/garlicha/Garlicha.ttf');
}
.borda-btn {

    border: none;
    border-bottom: 1px solid black;

}

.font-garlicha {
    font-family: garlicha;
}


.border-footer {
    border-color: black;
}

.container-menu {
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: -2;
}

.list-menu {
    list-style: none;
}
.borda-input-menu {
    border: none;
}
