.div-form-login {
    display: flex;
    align-items: center;
    height: 70vh;
}

.div-login {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-login {
    width: 60%;
    text-align: center;
}

@media (max-width: 449px){

    .text-responsive {
        font-size: 12px;
    }

}

.input-form-login {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid black;
    outline: 0;
}
.input-form-login::placeholder {
    color: black;
}

.btn-login {
    width: 100%;
    padding: 5px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
}
.btn-login:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

.btn-google {
    padding: 6px;
    color: white;
    background-color: #C23321;
    border-radius: 8px;
}

.icon-g {
    border-right: 1px solid white;
}

.btn-facebook {
    padding: 6px;
    color: white;
    background-color: #2D4373;
    border-radius: 8px;
}